.form__title {
  font-weight: 400;
  font-size: 14px;
}

.form__subtitle {
  color: @raspberry;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__button {
  background-color: @green;
}
