.header {
  background-color: rgba(0, 0, 0, 0.3);
}

.page-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.page-header__logo-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 66px;
  align-items: center;
}

.page-header__logo {
  padding-left: 5%;
  fill: @white;
  cursor: pointer;

  &:hover .path__white {
    fill: @pink;
  }

  &:active .path__white {
    fill: @white;
    opacity: 0.3;
  }
}

.logo--mobile {
  display: block;
  width: 74px;
  height: 23px;
}

.logo--tablet,
.logo--desktop {
  display: none;
}

.main-nav__item {
  cursor: pointer;

  &:hover .main-nav__link {
    color: @pink;
  }

  &:active .main-nav__link {
    opacity: 0.3;
  }
}

.main-nav__link {
  color: @white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
}

.main-nav--closed .main-nav__toggle--opened {
  display: none;
}

.main-nav--opened .main-nav__toggle--closed {
  display: none;
}

@media (max-width: @tablet-width-only) {
  .main-nav {
    top: 66px;
    background-color: @cobalt;
    width: 100%;
  }

  .main-nav--closed .main-nav__items {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__items {
    position: static;
  }

  .main-nav__toggle {
    position: absolute;
    width: 50px;
    height: 24px;
    top: 20px;
    right: 20px;
    background-color: transparent;
    padding: 0;
    border: none;

    &:hover path {
      fill: @pink;
    }

    &:active path {
      fill: @white;
      opacity: 0.3;
    }
  }

  .main-nav__items {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .main-nav__item {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    border-bottom: 1px solid rgba(0, 0, 0);
  }
}

@media (min-width: @tablet-width) {
  .logo--mobile {
    display: none;
  }

  .logo--tablet {
    display: block;
    width: 145px;
    height: 40px;
  }
}

@media (min-width: @desktop-width) {
  .logo--tablet {
    display: none;
  }

  .main-nav__toggle {
    display: none;
  }

  .logo--desktop {
    display: block;
    width: 147px;
    margin-left: 40%;

    &:active .path__white {
      fill: @white;
      opacity: 0.3;
    }

    &:active .path__pink {
      fill: @pink;
      opacity: 0.3;
    }
  }

  .page-header {
    height: 110px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .main-nav {
    margin-right: 10%;
  }

  .main-nav__items {
    width: 680px;
    display: flex;
    justify-content: space-between;
  }

  .main-nav__item {
    position: relative;
    padding: 20px 30px;
  }

  .main-nav__link {
    text-transform: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
  }

  .main-nav__link--current::after {
    position: absolute;
    content: "";
    width: 70%;
    height: 2px;
    background-color: @white;
    left: 20px;
    bottom: -20px;
  }
}
