.positive__effect {
  display: none;
}

@media (min-width: @tablet-width) {
  .positive__effect {
    position: relative;
    display: block;
    margin-bottom: 50px;
    /*delete*/
    outline: 5px solid rgba(255, 0, 0, 0.7);
    outline-offset: -5px;
  }

  .positive__effect_wrapper {
    width: 45%;
    margin-left: auto;
    padding: 5%;
    /*delete*/
    outline: 5px solid rgba(0, 255, 0, 0.7);
    outline-offset: -5px;
  }

  .positive__effect::before {
    content: "";
    position: absolute;
    top: 0;
    left: 5%;
    width: 298px;
    height: 345px;
    background-size: contain;
    background-image: url("../img/content/index/effect.svg");
    background-repeat: no-repeat;
  }

  .positive__effect-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
  }

  .positive__text-block {
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    padding: 0;
  }

  .positive__effect-link {
    font-size: 14px;
    line-height: 24px;
    color: @pink;
    text-decoration: underline;
  }
}

@media (min-width: @desktop-width) {
  .positive__effect::before {
    left: 10%;
  }
}
