.price-table {
  border-collapse: collapse;
}

.price-table__first-line {
  font-size: 16px;
  text-transform: uppercase;
  background: @cobalt;
  color: @clear-white;
}

.price-table__cost {
  font-weight: 300;
  font-size: 18px;
  color: @clear-white;
}

.price-table__left-column {
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
}
